<div hx-boost="false" class="flex w-96 h-screen mx-auto justify-center items-center">
  <!-- <a href="/auth/login" class="flex items-center gap-4 px-4 py-2 font-semibold rounded hover:bg-gray-50 border-solid border-2 border-black">
    <img src="/static/github-icon.svg" alt="GitHub Icon">
    Login with GitHub
  </a> -->
  <!-- <a href="/auth/login/google" class="flex items-center gap-4 px-4 py-2 font-semibold rounded hover:bg-gray-50 border-solid border-2 border-black">
    Login with Google
  </a> -->
  <a href="auth/login/google" class="px-4 py-2 border flex gap-2 border-slate-200 dark:border-slate-700 rounded-lg text-slate-700 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150">
    <img class="w-6 h-6" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">
    <span>Login with Google</span>
  </a>

  <!-- <script>
      function requestNotificationPermission() {
          Notification.requestPermission().then(permission => {
              if (permission === 'granted') {
                  console.log('Notification permission granted.');
                  const unread = 30;
                  navigator.setAppBadge(unread);
              } else {
                  console.error('Notification permission denied.');
              }
          });
      }
  </script> -->
</div>